<h2>Enter Your Username/Email</h2>

<form action="/users/reset"  method="POST">
    <label for="email">Enter Email or Username</label>
    <br>
    <input type="email" id="email" name="email" placeholder="Enter Email or Username" required>
    
    <button type="submit">Submit</button>
</form>