footer {
    background-color:grey;
    color:white;
    display:flex;
    // justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: row;
    height: 7%;
    
    ul{
        // align-self: flex-end;
        margin-left: 10%;
        // padding-left: 10%;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        

        li{
            // width: 110px;  
            // height: 100px; 
            // background-color: #8cacea;  
            margin: 3px;
            a{
                color: white;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}